@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}

.navbar__logo img {
  width: 7.3rem;
}

.navbar__lists {
  display: none;
}

.navbar__bar {
  font-size: 2.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-left: 1.3rem;
    margin-top: 1rem;
  }
  .navbar__logo img {
    width: 9.5rem;
  }
  .navbar__lists {
    display: flex;
    margin-right: 2rem;
  }
  .lists {
    display: flex;
    align-items: center;
  }
  .lists a {
    font-size: 2.2rem;
    margin: 0 1rem;
    color: black;
    text-decoration: none;
  }
  .lists a:hover {
    color: #da5c45;
  }
  .navbar__bar {
    display: none;
  }
}

/* HERO */
.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__title1 {
  font-size: 4rem;
  font-weight: 700;
}
.hero__title2 {
  font-size: 4rem;
  font-weight: 700;
  color: #da5c45;
  position: relative;
  bottom: 1rem;
}
.hero__btn {
  color: white;
  background-color: black;
  width: 15rem;
  height: 5rem;
  border-radius: 25px;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 1rem;
}
.hero__image {
  display: flex;
  justify-content: center;
}

.hero__image img {
  width: 31.2rem;
}
/* @media screen and (min-width: 768px) {
  .hero {
    display: flex;
    padding: 0 20rem;
    justify-content: space-around;
  }
  .hero__text {
    align-items: flex-start;
  }
  .hero__title1 {
    font-size: 8.5rem;
  }
  .hero__title2 {
    font-size: 8.5rem;
  }
  .hero__image img {
    width: 52.2rem;
  }
} */
