* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box1 {
  padding: 20px;
  background-color: rgb(29, 236, 150);
}
.box2 {
  background-color: rgb(0, 102, 255);
  padding: 20px;
}
.box3 {
  background-color: rgb(248, 179, 99);
  padding: 20px;
}
.box4 {
  background-color: rgb(255, 126, 186);
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .box_1 {
    display: flex;
  }
@media screen and (min-width: 1200px) {
  .container1 {
  display: flex;
  }