@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}
html {
  font-size: 62.5%;
  background-color: #141414;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.navbar__logo img {
  width: 15rem;
  margin-top: 0.5rem;
  position: relative;
  right: 1rem;
}
.navbar__lists {
  display: none;
}
.navbar__bar {
  font-size: 2.2rem;
  margin-right: 1rem;
  cursor: pointer;
  color: white;
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-top: 1rem;
    margin-left: 1.3rem;
  }
  .navbar__logo img {
    width: 20rem;
    margin-top: 0.2rem;
    position: relative;
    right: 2rem;
  }
  .navbar__lists {
    display: flex;
    margin-right: 2rem;
  }
  .lists {
    display: flex;
    align-items: center;
  }
  .lists a {
    font-size: 2.4rem;
    margin: 0 1rem;
    color: white;
    text-decoration: none;
  }
  .lists a:hover {
    color: #3e3aff;
  }
  .navbar__bar {
    display: none;
  }
}
