@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}
html {
  font-size: 62.5%;
  background-color: #141414;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.navbar__logo img {
  width: 15rem;
  margin-top: 0.5rem;
  position: relative;
  right: 1rem;
}
.navbar__lists {
  display: none;
}
.navbar__bar {
  font-size: 2.2rem;
  margin-right: 1rem;
  cursor: pointer;
  color: white;
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-top: 1rem;
    margin-left: 1.3rem;
  }
  .navbar__logo img {
    width: 20rem;
    margin-top: 0.2rem;
    position: relative;
    right: 2rem;
  }
  .navbar__lists {
    display: flex;
    margin-right: 2rem;
  }
  .lists {
    display: flex;
    align-items: center;
  }
  .lists a {
    font-size: 2.4rem;
    margin: 0 1rem;
    color: white;
    text-decoration: none;
  }
  .lists a:hover {
    color: #3e3aff;
  }
  .navbar__bar {
    display: none;
  }
}
/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__card {
  margin-top: 3rem;
  width: 32rem;
  height: 31rem;
  background-color: #da5c45;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.contact__bar {
  width: 21rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 40px;
  height: 18.5rem;
  text-align: center;
  font-size: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__btn {
  width: 25rem;
  height: 5rem;
  font-size: 2rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .contact {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact__card {
    margin: 1.5rem 8.7rem;
  }
}
