* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
h2 {
  background-color: rgb(247, 239, 204);
  border: 8px dotted rgba(57, 1, 211, 0.911);
  padding: 5px;
  margin: 10px;
  width: 300px;
}
.name {
  background-color: rgb(247, 239, 204);
  color: blueviolet;
  border: 3px solid rgb(252, 24, 252);
  padding: 5px;
  margin: 10px;
  width: 310px;
}
.birthday {
  background-color: rgb(247, 239, 204);
  color: blue;
  border: 3px solid rgb(100, 193, 255);
  padding: 5px;
  margin: 10px;
  width: 420px;
}
.color {
  background-color: rgb(247, 239, 204);
  color: green;
  border: 3px solid rgb(111, 230, 160);
  padding: 5px;
  margin: 10px;
  width: 110px;
}
.visit {
  background-color: rgb(247, 239, 204);
  color: goldenrod;
  border: 3px solid khaki;
  padding: 5px;
  margin: 10px;
  width: 110px;
}
.food {
  background-color: rgb(247, 239, 204);
  color: orangered;
  border: 3px solid orange;
  padding: 5px;
  margin: 10px;
  width: 110px;
}
