@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mali", cursive;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  display: flex;
  padding: 1.2rem;
}
.logo {
  width: 9.5rem;
  margin-left: 1.8rem;
  margin-right: 3rem;
}
.navLink__container {
  display: flex;
  width: 44rem;
  justify-content: space-between;
}
.navbar {
  display: flex;
  align-items: center;
}
.link {
  color: black;
  font-size: 2.4rem;
}
.link--active {
  color: #da5c45;
}

/* HELLO */

.hero {
  display: grid;
  grid-template-columns: 50% 50%;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__title1 {
  font-size: 10rem;
  font-weight: 700;
  position: relative;
  top: 4rem;
}
.hero__title2 {
  font-size: 10rem;
  font-weight: 700;
  color: #da5c45;
  position: relative;
  top: 0.5rem;
}
.hero__btn {
  color: white;
  background-color: black;
  width: 20rem;
  height: 7rem;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  cursor: pointer;
}
.hero__btn:hover {
  color: #f07f6b;
}
.hero__image__container {
  display: flex;
  align-items: center;
}
.hero__image {
  width: 60rem;
  position: relative;
  top: 4rem;
}

/* NEWS ITMES */

.new__container {
  margin: 2rem 13rem;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-items: center;
}
.new__card {
  width: 33rem;
  height: 41.5rem;
  border: 3px solid #000;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 25px rgb(202, 197, 197);
}
.card__image {
  width: 26rem;
  position: relative;
  bottom: 2.5rem;
}
.card__btn {
  width: 19rem;
  height: 6rem;
  background-color: black;
  color: white;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  cursor: pointer;
}
.card__btn:hover {
  color: #f07f6b;
}
