@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mali", cursive;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
  padding: 1.2rem;
}
.logo {
  width: 9.5rem;
  margin-left: 1.8rem;
  margin-right: 3rem;
}
.navLink__container {
  display: flex;
  width: 44rem;
  justify-content: space-between;
}
.navbar {
  display: flex;
  align-items: center;
}
.link {
  color: black;
  font-size: 2.4rem;
}
.link--active {
  color: #da5c45;
}
