@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 62.5%;
}
* {
  font-family: "Prompt", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #050d1a;
}
.section {
  width: 100vw;
  height: 400px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 60%;
  height: 100%;
  /* background-color: thistle; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 7rem;
  font-weight: 1000;
  color: white;
}
.tagline {
  font-size: 3rem;
  margin-top: 10px;
  color: white;
}
.content {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  font-size: 2rem;
  border: 1px solid rgb(255, 253, 253);
  border-radius: 20px;
  padding: 1rem 1.2rem;
  margin: 5px;
  color: white;
}
.item:hover {
  border: 1px solid rgb(144, 255, 159);
}
