@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}
html {
  font-size: 62.5%;
  background-color: #eadcd2;
}
/* COVID-19 */
.covid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero1 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.hero__image1 img {
  width: 40rem;
  border-radius: 20px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.title1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  background-color: #fff;
  text-align: center;
  width: 45rem;
  border-radius: 10px;
}
.text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45rem;
}
.title2 {
  font-size: 2.4rem;
  color: #1625ec;
}
.btn2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.hero2 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.hero__image2 img {
  width: 40rem;
  border-radius: 20px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45rem;
  margin-top: 3rem;
}
.title3 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  background-color: #fff;
  text-align: center;
  width: 45rem;
  border-radius: 10px;
  padding: 0 2px;
}
.btn3 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
}
