@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.links {
  font-size: 1.5rem;
}
.link {
  text-decoration: none;
  color: black;
  margin: 5px;
}
.link:hover {
  color: coral;
}
.active {
  color: coral;
}
