@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: white;
}

/* CONTAINER */

.logo {
  font-size: 5rem;
  font-weight: 700;
  position: relative;
  left: 2rem;
}
.container {
  background-color: rgb(214, 214, 214);
  width: 100vw;
  height: 100vh;
}
.big__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text__container {
  background-color: rgb(48, 48, 48);
  width: 40rem;
  height: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title1 {
  font-size: 3rem;
  color: white;
  font-weight: 500;
  position: relative;
  bottom: 10rem;
  right: 7rem;
}
.title2 {
  font-size: 3rem;
  color: white;
  font-weight: 500;
  position: relative;
  bottom: 7rem;
  left: 3.5rem;
}
.name {
  background-color: white;
  font-size: 2.5rem;
  padding: 50px 25px;
  font-weight: 500;
  width: 32rem;
  text-align: center;
  position: relative;
  top: 4rem;
}

.start {
  background-color: red;
  font-size: 4rem;
  padding: 10px 25px;
  font-weight: 500;
  width: 32rem;
  text-align: center;
  position: relative;
  top: 9rem;
}

/* USER */

.logo1 {
  font-size: 5rem;
  font-weight: 700;
  position: relative;
  left: 2rem;
}

.big {
  background-color: rgb(214, 214, 214);
  /* width: 100vw;
  height: 100vh; */
}

.big__user__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user__container {
  background-color: white;
  width: 90rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
