@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  display: flex;
  padding: 1.2rem;
  justify-content: space-between;
}
.left__container {
  display: flex;
}
.logo {
  width: 9.5rem;
  margin-left: 1.8rem;
  margin-right: 3rem;
}
.navlink__container {
  display: none;
}
.bars {
  font-size: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .navlink__container {
    display: flex;
    width: 44rem;
    justify-content: space-between;
  }
  .navlink {
    display: flex;
    align-items: center;
  }
  .bars {
    display: none;
  }
  .link {
    color: #000;
    font-size: 2.4rem;
  }
  .link--active {
    color: #da5c45;
  }
}

/* HELLO */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 35rem;
}

.hero__title1 {
  font-size: 10rem;
  font-weight: 700;
  position: relative;
  top: 4rem;
}
.hero__title2 {
  font-size: 10rem;
  font-weight: 700;
  color: #da5c45;
  position: relative;
  bottom: 1rem;
}
.hero__btn {
  color: white;
  background-color: black;
  width: 20rem;
  height: 7rem;
  border-radius: 2.5rem;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hero__btn:hover {
  color: #f07f6b;
}
.hero__image {
  width: 60rem;
  position: relative;
  top: 4rem;
}
@media screen and (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__image__container {
    display: flex;
    align-items: center;
  }
}
